

:root {
  --theme-blue: #3fc5f0;
  --theme-darkblue: #239cc4;
  --theme-verylightblue: #ebfbff;
  --theme-lightblue: #ccf2fd;
  --theme-lightblue-alt: #b0e9ff;
  --theme-darkgreen: #00d681;
  --theme-purple: #543864;
  --theme-green: #6decb9;
  --theme-lightgreen: #9bffd7;
  --theme-lightgreen-alt: #9cefdb;

  --theme-yellow: #ffee69;
  --theme-lightyellow: #f5f7de;
  --theme-borders: #3a3b48;
  --theme-lightborders: #4d4f60;
  --border-light: #e6e6e6;
  --primary-background: #ffffff;
  --secondary-background: #f9f9f9;
  --copy-light: #b4b4b4;
  --copy-mid: #6a6a6a;
  --copy-dark: #3a3b48;
  --shadow: rgba(0, 0, 0, 0.4);
  --darken: rgba(0, 0, 0, 0.1);
  --clear: rgba(0, 0, 0, 0);
}



body {
  margin: 0;
  text-align: center;
  background-color: #fbf6ed;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto 0;
  font-family: antarctican-headline, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: antarctican-mono, sans-serif;
  font-style: italic;
  font-size: 70px;
}

h2 {
  font-family: antarctican-headline, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 38px;
}

h3 {
  font-size: 36px;
}

h4, h5, h6 {
  font-size: 24px;
}

p {
  text-align: left;
  font-family: dinosaur, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #353535;
}

ul {
  font-family: dinosaur, sans-serif;
  list-style: inside;
  list-style-type: circle;
  line-height: 1.3;
  padding-left: 8px;
  margin-top: 4px;
}

li {
  color: #353535;
  font-size: 16px!important;
}

li::marker {
  font-size: 14px;
  padding-bottom: 12px!important;
}

button {
  cursor: pointer;
}

/*  General Layout  */

.banner {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #543864;
}

/*  Avatar Section  */

.top-container {
  padding: 35px;
}

.top-container h2 {
  font-family: antarctican-mono, sans-serif;
  text-transform: none;
  font-style: italic;
  letter-spacing: 1px;
}

.avatar {
  margin: 25px auto 17px;
  height: 380px;
}

/* About Banner */

.about-title {
  margin-top: 16px;
  color: white;
}

.about {
  max-width: 550px;
  text-align: center;
  color: white;
  margin-top: 14px;
  font-size: 20px;
}

.inner-about-container {
  display: inline-block;
  width: 40%;
  height: 200px;
  margin: 0;
  vertical-align: top;
}

.laptop-code {
  width: 200px;
}

.github-link {
  position: relative;
  display: inline-block;
  bottom: -23px;
  width: 135px;
  height: 33px;
  font-size: 14px;
}

/*  Creativity Banner  */

.creativity-text {
  font-family: dinosaur, sans-serif;
  font-weight: 400;
  color: white;
  max-width: 600px;
  margin: 10px auto 20px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-size: 26px;
  text-transform: none;
}


/*  Experience Section */

.experience-container {
  background-color: #add8e6;
  width: 100%;
}

.exp-wrap {
  margin: 0 auto;
  padding: 50px 0 40px;
  width: 75%;
  background-color: #ebfbff;
}

.exp-wrap h2 {
  margin-bottom: 25px;
}

.exp-cont-inner {
  display: inline-block;
  height: 200px;
  vertical-align: top;
}

.exp-text-right {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  padding-left: 30px;
}

.exp-text-left {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  padding-right: 30px;
}

.layout-container {
  padding: 20px;
}

.layout-img {
  width: 200px;
}

.remote-container {
  padding: 20px;
}

.remote-img {
  width: 200px;
}

.educator-container {
  padding: 20px;
}

.educator-img {
  width: 200px;
}

.detail-container {
  padding: 20px;
}

.details-img {
  width: 200px;
}

/*  Skills Section  */

.skills-container {
  background-color: lightblue;
  padding: 50px 0 60px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0;
}

.skills-container h2 {
  margin-bottom: 40px;
}

.inner-skill-container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 16px;
}

.inner2-skill-container {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 0 16px;
  vertical-align: top;
}

.skill-row-left {
  width: 200px;
  background-color: #ebfbff;
  height: 200px;
  vertical-align: top;
  display: table;
  padding: 5px;
  border: 4px solid var(--theme-lightblue-alt);

}

.skill-row-center {
  width: 200px;
  background-color: #ebfbff;
  height: 200px;
  vertical-align: top;
  display: table;
  padding: 5px;
  border: 4px solid var(--theme-lightblue-alt);

}

.skill-row-right {
  width: 200px;
  background-color: #ebfbff;
  height: 200px;
  vertical-align: top;
  display: table;
  padding: 5px;
  border: 4px solid var(--theme-lightblue-alt);
}

.skill-text {
  text-align: center;
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
}

.prev {
  font-size: 18px;
  opacity: .8;
}

.prev-tag {
  position: absolute;
  top: -15px;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  font-size: 13px;
  opacity: 1;
  line-height: 1;
  background-color: var(--theme-lightblue-alt);
  border-radius: 10px;
  padding-bottom: 3px;
}

/*  Footer  */

footer {
  height: 100px;
  background-color: #222222;
  padding: 20px;
}

/* END of document */
